.mood {
    background-color: var(--primary-1);
    color: white;
}

.text-node__footer {
   padding-top: 10px;
    font-size: small;

    display: flex;
    justify-content: flex-start;
}
.text-node__footer .avatar {
    margin-right: 5px;
}
