@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

a,
button {
    all: unset;
}

.ToolbarRoot {
    position: absolute;
    margin-top:10px;
    margin-left: 20px;
    z-index: 5;
    display: flex;
    padding: 4px;
    min-width: max-content;
    border-radius: 6px;
    background-color: var(--toolbar-background);
    border: 2px solid var(--border);
    box-shadow: 0 2px 10px var(--black-a7);

}

.ToolbarRoot[data-orientation="vertical"],
.ToolbarRoot[data-orientation="vertical"] .ToggleGroup{
    flex-direction: column;
    width: fit-content;
    display: flex;
}


.seperator[data-orientation="horizontal"] {
    height: 2px;
    width: 100%;
    background-color: var(--border);
    margin: 4px 0;
}

.ToolbarToggleItem,
.ToolbarLink,
.ToolbarButton {
    flex: 0 0 auto;
    color: white;
    height: 36px;
    padding: 0 5px;
    border-radius: 4px;
    display: inline-flex;
    font-size: 16px;
    line-height: 1;
    align-items: center;
    justify-content: center;
}
.ToolbarToggleItem:hover,
.ToolbarLink:hover,
.ToolbarButton:hover {
    color: var(--primary-2);

}


.ToolbarToggleItem {
    background-color: var(--toolbar-background);
    margin-left: 2px;
    border-radius: 6px;
}
.ToolbarToggleItem:first-child {
    margin-left: 0;
}
.ToolbarToggleItem[data-state="on"] {
    background-color: rgba(from var(--primary) r g b / 0.12);
    color: var(--primary-2);
}


.ToolbarLink {
    background-color: transparent;
    color: var(--mauve-11);
    display: none;
    justify-content: center;
    align-items: center;
}
.ToolbarLink:hover {
    background-color: transparent;
    cursor: pointer;
}
@media (min-width: 520px) {
    .ToolbarLink {
        display: inline-flex;
    }
}

.ToolbarButton {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--violet-9);
}
.ToolbarButton:hover {
    background-color: var(--violet-10);
    color: white;
}
