.button{
    display: flex;
    align-items: center;
    gap: 6px;

    height: 36px;
    padding: 0 10px 0 8px;
    border-radius: 5px;

    border: 1px solid rgba( from var(--primary) r g b / 0.23);
    background: rgba( from var(--primary) r g b / 0.2);

    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.3px;
    text-transform: uppercase;
    white-space: nowrap;

    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease;

    margin-top: 15px;
    margin-bottom: 10px;
}

.button:hover {
    background: rgba( from var(--primary) r g b / 0.4);
    border-color: rgba( from var(--primary) r g b / 0.5);
}
